/* commons */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/* body */
body {
    position: relative;
    height: 100vh;
    background: rgb(4,22,50);
}
.container {
    border: 1px solid white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* game */
#grid {
    display: flex;
    flex-direction: column;
}
.row {
    display: flex;
    border-bottom: .5px solid rgba(255,255,255,0.2);
}
.col {
    border-left: .5px solid rgba(255,255,255,0.2);
}
/* squares */
.square {
    width: 70px;
    height: 70px;
    color: white;
    line-height: 70px;
    text-align: center;
}
.clicked {
    background: turquoise;
}
.not-clicked {
    opacity: 0;
}
.bomb {
    background: red;
}