/* commons */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/* body */
body {
    position: relative;
    height: 100vh;
    background: rgb(4,22,50);
}
.container {
    border: .1px solid rgba(255,255,255,0.1);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* game */
#grid {
    display: flex;
    flex-direction: column;
}
.row {
    display: flex;
    border-top: .1px solid rgba(255,255,255,0.1);
}
.col {
    border-left: .1px solid rgba(255,255,255,0.1);
}
.row:first-child,
.col:first-child {
    border: none;
}
/* squares */
.square {
    width: 70px;
    height: 70px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 30px;
    font-weight: 900;
}
.clicked {
    background: rgb(15,217,119);
}
.not-clicked {
    opacity: 0;
}
.bomb {
    background: rgb(1,46,137);
}
.x, .y {
    display: none;
}